body{
color:black;
font-family:'Montserrat',sans-serif;
font-size:14px;
}
#container{
	width:60%;
	background:#fff78a;
	margin:20px auto;
	overflow:auto;
	padding:25px;
}
header{
	text-align:center;
	border-bottom:#fff dashed 1px;
}
header h1{
	margin:0;
	padding:0;
	color:yellow;
}
header p{
	padding:0;
	margin-top:5px;
	color:#000000;
}
div{
	text-align: center;
}
h3{
	color:#000000;
}
section{
	min-height:410px;
}
input[type='submit']{
	background:#FFD700;
	border:0;
	color:black;
	padding:10px 15px;
	cursor:pointer;

}

#resultado h3{
	background:#FFD700;
	padding:10px;
	margin:10px 0;
}
#resultado span{
	color:brown;
	font-weight:bold;
}
